In [2]:
import pandas as pd

In [10]:
df = pd.read_csv('dataset.csv')

species_counts = df["species"].value_counts()
print(species_counts.head(3))

species
Caenorhabditis elegans     1559
Drosophila melanogaster     926
Mus musculus                277
Name: count, dtype: int64

Let's isolate our dataset to only rows that with the Canorhabiditis elegans species, since it has the most data points

In [21]:
df = df[df["species"] == "Caenorhabditis elegans"].reset_index(drop=True)
df.head(5)

,id,compound_name,species,strain,dosage,age_at_initiation,treatment_duration,avg_lifespan_change_percent,avg_lifespan_significance,max_lifespan_change_percent,max_lifespan_significance,gender_new,weight_change_percent,weight_change_significance,ITP,pubmed_id,notes,last_modified
0,226,EUK-8,Caenorhabditis elegans,N2,0.05 mM,NaN,NaN,-12.90,S,NaN,NaN,Unknown,NaN,NaN,No,12521609,Lifespan assay conducted on solid medium. EUK-...,2024-10-07 15:17:17
1,223,EUK-8,Caenorhabditis elegans,N2,0.5 mM,NaN,NaN,-33.10,S,NaN,NaN,Unknown,NaN,NaN,No,12521609,Lifespan assay conducted on solid medium. EUK-...,2024-10-07 15:17:07
2,1558,Ursolic acid,Caenorhabditis elegans,N2,25 µM,NaN,NaN,32.48,S,NaN,NaN,Unknown,NaN,NaN,No,27773812,The lifespan assay was performed at 20 °C. Wor...,2024-06-20 17:07:48
3,1785,Ursolic acid,Caenorhabditis elegans,N2,25 µM,NaN,NaN,31.30,S,NaN,NaN,Unknown,NaN,NaN,No,28673026,NaN,2024-06-20 17:07:42
4,1976,Tetracycline HCL,Caenorhabditis elegans,N2,100 µM,NaN,NaN,13.70,S,NaN,NaN,Unknown,NaN,NaN,No,33008901,NaN,2024-06-20 17:04:06

We can now group by strain, then aggregate the data in each of these groups

In [33]:
grouped_strain = df.groupby('strain').agg(avg_lifespan_change_percent = ('avg_lifespan_change_percent', 'mean'),
                                   avg_lifespan_change_percent_std = ('avg_lifespan_change_percent', 'std'),
                                   avg_lifespan_change_percent_sem = ('avg_lifespan_change_percent', 'sem'),
                                   avg_lifespan_change_percent_median = ('avg_lifespan_change_percent', 'median'),
                                   avg_lifespan_change_percent_min = ('avg_lifespan_change_percent', 'min'),
                                   avg_lifespan_change_percent_max = ('avg_lifespan_change_percent', 'max')).reset_index()

grouped_strain.head()

,strain,avg_lifespan_change_percent,avg_lifespan_change_percent_std,avg_lifespan_change_percent_sem,avg_lifespan_change_percent_median,avg_lifespan_change_percent_min,avg_lifespan_change_percent_max
0,CB5586,7.500000,3.535534,2.500000,7.50,5.00,10.00
1,CF512,12.706667,3.799596,2.193698,14.24,8.38,15.50
2,JK1107,0.100000,NaN,NaN,0.10,0.10,0.10
3,JK1107 (glp-1),11.000000,NaN,NaN,11.00,11.00,11.00
4,JU775,31.073333,6.547857,3.780407,34.40,23.53,35.29

Let's now group by dosage, then aggregate the data in each of these groups. For now, we will have this just for observation

In [32]:
grouped_dosage = df.groupby('dosage').agg(avg_lifespan_change_percent = ('avg_lifespan_change_percent', 'mean'),
                                   avg_lifespan_change_percent_std = ('avg_lifespan_change_percent', 'std'),
                                   avg_lifespan_change_percent_sem = ('avg_lifespan_change_percent', 'sem'),
                                   avg_lifespan_change_percent_median = ('avg_lifespan_change_percent', 'median'),
                                   avg_lifespan_change_percent_min = ('avg_lifespan_change_percent', 'min'),
                                   avg_lifespan_change_percent_max = ('avg_lifespan_change_percent', 'max'),).reset_index()

grouped_dosage.head()

,dosage,avg_lifespan_change_percent,avg_lifespan_change_percent_std,avg_lifespan_change_percent_sem,avg_lifespan_change_percent_median,avg_lifespan_change_percent_min,avg_lifespan_change_percent_max
0,0.0001,41.00,NaN,NaN,41.00,41.00,41.00
1,0.001,36.70,NaN,NaN,36.70,36.70,36.70
2,0.0016 mM,9.09,NaN,NaN,9.09,9.09,9.09
3,0.005,29.00,NaN,NaN,29.00,29.00,29.00
4,0.0075,33.00,NaN,NaN,33.00,33.00,33.00